hr {
    padding: 0 !important;
    margin: 20px 0 15px !important;
    overflow: hidden !important;
    box-sizing: content-box !important;
    /*background-color: #212121 !important;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative !important;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.4 !important;
    cursor: text !important;
}

h1 {
    padding-bottom: 0.3em !important;
    font-size: 2.25em !important;
    line-height: 1.2 !important;
}

h2 {
    padding-bottom: 0.3em !important;
    font-size: 1.75em !important;
    line-height: 1.225 !important;
}

h3 {
    font-size: 1.5em !important;
    line-height: 1.43 !important;
}

h4 {
    font-size: 1.25em !important;
    padding-top: 0.5em !important;
}

h5 {
    margin-top: 1rem !important;
    font-size: 1em !important;
}

h6 {
    font-size: 1em !important;
    color: #777 !important;
}

blockquote {
    border: transparent !important;
    border-left: 4px solid #aaaaaa80 !important;
    border-radius: 0 !important;
    margin-left: 2px !important;
    padding: 0 15px !important;
    color: #aaa !important;
    background-color: transparent !important;
}

blockquote blockquote {
    padding-right: 0 !important;
}